@import './var.scss';

// reset
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
i, a {
    font-style: normal;
}
a {
    color: unset;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
body {
    font-size: 14px;
    padding: 0;
    margin: 0;
}




// scss
.avatar {
    margin-right: $padding-horizontal;
    flex-shrink: 0;
    border-radius: 50%;

    &.shape--square {
        border-radius: 5px;
    }
}

.g-title {
    font-size: 14px;
    font-weight: 600;
}

.g-desc {
    font-size: 12px;
    color: #999;
    font-weight: 300;
}

.i-right {
    margin-left: 2vw;
}